body{
    padding-top: 80px;
}
.navbar ul li a:hover{
    color: #6bc449;
}
.container{
    margin-top: 20px;
}
h3{
    text-align: center;
    color:#6bc449;
    margin-top: 10px;
}
h1{
    color:#6bc449;
    margin-top: 40px;
}
h2{
    text-align: center;
    margin-bottom: 40px;
}
.btn{
    margin-top: 15px;
    background-color: #6bc449;
}
.icon{
    margin-left: 160px;
    height: 70px;
    width: 40px;
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
    color: #6bc449;
}
.huda{
    margin-top: 120px;
}
.edit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#5dc559;
    color:white;
    margin-top: 60px;
    margin-bottom: 30px;
}
.block{
    margin: 60px 100px 60px 0px;
    color:black;
    background-color: white;  
    
}
.line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: #6bc449;
    margin-top: 5px;
}
.text0{
    margin: 25px 0px 25px 25px;
}   
.text1{
    margin: 35px 0px 35px 40px;
}
form{
    background-color:white;
    margin: 2px 430px 10px 430px;
    padding: 10px 40px;
}
.edit{
    padding: 0px 200px 5px 5px;
    margin-bottom: 30px;
}
.text{
    text-align: center;
    color:white;
}
.button{
    text-align: center;
    font-size: medium;
    margin: 10px 350px 5px 210px;
    background-color:palegoldenrod;
    border-radius: 5px;
}
.backg-image{
    background-image: url(Images/leave.png);
    background-position: center;
}
.card-body{
    margin-left: 20px;
    margin-top: 20px;
    
}
.text-center{
    margin-bottom: 40px;
}
.background{
    background-color: rgb(56, 233, 56);
    padding: 30px;
    
}